/* table styling */
table,
th,
td {
    border: 3px solid rgb(119, 55, 3);
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    margin: auto;
}
th {
    padding: 10px;
}

td {
    padding: 5px;
}

.in {
    color: rgb(255, 255, 255);
    background-color: rgb(243, 194, 60);
}